<p>I confirm that I did not perform any overtime for the week of:</p>
<% pending_audit_confirmations.each do |pac| %>	
	<%= link_to "#{pac.start_date}", confirm_audit_log_path(pac), class: 'btn btn-primary btn-block btn-lg', id: "confirm_#{pac.id}", data: { confirm: 'Are you sure you want to confirm you did not perform any overtime?'} %>
<% end %>